body {
    background: url("Images/back5.JPG");
    background-repeat: no-repeat;
   background-size: 1400px 650px;
}
.TextBoxes {
     border: white;
    height: 40px;
    font-size: 30px;
    color: white;
    background-color: transparent;
    font-family: Book Antiqua;
   
}
input:focus {
    outline: none
}
::-webkit-input-placeholder {
    color: white;
    font-family: Book Antiqua;
    font-size: 30px;
}
#divTitle {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    color: white;
    font-family: Papyrus;
    font-size: 50px;
}
#forgotUserName {
    margin-left: auto;
    margin-right: auto;

    margin-top: 4%;
    /*margin-bottom: auto;*/
    width: 370px;
    /*position: fixed;*/
}
.Labels {
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    font-family: Book Antiqua;
    /*margin-left: 100px;*/
   
}
.Buttons {
   background-color: transparent;
    /*border-color: transparent;*/
    color: white;
    font-family: Book Antiqua;
    font-size: 20px;
    height: 35px;
    border-width: 3px;
    border-radius: 6px;
    border-color: white;
    
}
#changePassword {
     margin-left: auto;
    margin-right: auto;

    margin-top: 4%;
    /*margin-bottom: auto;*/
    width: 370px;
    /*position: fixed;*/
}
#lblTitle {
      margin-top: 5%;
    margin-left: 500px;
    margin-right: auto;
    /*width: 350px;*/
    color: white;
    font-family: Papyrus;
    font-size: 30px;
    top: 80%;
}