body {
    background: url("Images/back5.JPG");
    background-repeat: no-repeat;
   background-size: 1400px 650px;
}
#divTitle {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    color: white;
    font-family: Papyrus;
    font-size: 50px;
    top: 50%;
}
.controlsDivCol1 {
    margin-left: 320px;
    top: 40%;
    bottom: auto;
    width: 200px;
    position: fixed;
    right: auto;
    
    
}
#controlsDivCol2 {
    margin-left: 820px;
    top: 40%;
    bottom: auto;
    width: 200px;
    position: fixed;
    
}

.LoginButtons {
    background-color: transparent;
    /*border-color: transparent;*/
    color: white;
    font-family: Book Antiqua;
    font-size: 30px;
    border-width: 3px;
    border-style: ridge;
        width: 280px;
    border-radius: 4px;

}

#ddlProductType {
    
    /*background-color: darkgray;*/
    background: transparent;
    background: url("Images/drop.png");
    background-color: #575757;
    border-color: white;
    border-radius: 4px;
    color: white;
    font-family: Book Antiqua;
    font-size: 30px;
    display: block;
    width: 280px;
    
}
#ddlOther {
    
    
    /*background-color: darkgray;*/
    background: transparent;
    background: url("Images/drop2.png");
    background-color: #575757;
    border-color: white;
    border-radius: 4px;
    color: white;
    font-family: Book Antiqua;
    font-size: 30px;
    display: block;
        width: 280px;

}
#btnCancel {
    margin-left: -250px;
    margin-right: auto;
    background-color: transparent;
    /*border-color: transparent;*/
    color: white;
    font-family: Book Antiqua;
    font-size: 30px;
    border-width: 3px;
    border-style: ridge;
        width: 280px;
    border-radius: 4px;
}
#lblEditTitle {
      margin-top: 5%;
    margin-left: 500px;
    margin-right: auto;
    /*width: 350px;*/
    color: white;
    font-family: Papyrus;
    font-size: 30px;
    top: 80%;
}