body {
    background: url("Images/back5.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
#divTitle {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    color: white;
    font-family: Papyrus;
    font-size: 40px;
}
#MainGraphic {
    /*margin: 30px;*/
    margin-top: 10px;
    margin-left: 300px;
  
}



.Labels {
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    font-family: Book Antiqua;
    /*margin-left: 100px;*/
   
}
#txtQuantity {
    border:  1px solid white;
    border-width:1px;
    border-radius: 1px;
    height: 35px;
    font-size: 20px;
    /*color: white;*/
    /*background-color: transparent;*/
    font-family: Book Antiqua;
    width: 85px;
    text-align: center;
    
    
}
#costControls {

    margin-left: 350px;
    margin-right: 350px;
    
    border: 1px solid white;
    -moz-border-radius:  2px;
    border-radius: 5px;
    height: 180px;
    text-align: center;
    left: auto;
    right: auto;

     /*margin-top: -300px;*/
}
.Buttons {
    background-color: transparent;
    /*border-color: transparent;*/
    color: white;
    font-family: Book Antiqua;
    font-size: 20px;
    height: 35px;
    border-width: 3px;
    border-radius: 6px;
    border-color: white;

    
}
.TextBoxes {
    border: none;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    font-family: Book Antiqua;
    margin-top: 5px;
    margin-left: 10px;
}
::-webkit-input-placeholder {
    color: white;
    font-family: Book Antiqua;
    font-size: 20px;
}
#gui { position: absolute; top: 110px; right: 20px }
.stoneTextbox {
     background-color: transparent;
    font-family: Book Antiqua;
    border: none;
    height: 40px;
    color: white;
    font-size: 15px;
}