body {
    background: url("Images/back5.JPG");
    background-repeat: no-repeat;
   background-size: 1400px 650px;
}

.Labels {
    height: 40px;
    font-size: 30px;
    color: white;
    background-color: transparent;
    font-family: Book Antiqua;
}
.Buttons {
    background-color: transparent;
  border-width: 3px;
    color: white;
    font-family: Book Antiqua;
    font-size: 30px;
    border-style: ridge;
    border-radius: 4px;
}

.TextBoxes {
    border: white;
    height: 40px;
    font-size: 30px;
    color: white;
    background-color: transparent;
    font-family: Book Antiqua;
}
::-webkit-input-placeholder {
    color: white;
    font-family: Book Antiqua;
    font-size: 30px;
}
input:focus {
    outline: none
}
#divTitle {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    color: white;
    font-family: Papyrus;
    font-size: 50px;
}

#divQuote {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    
}